.container {
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.flex-full-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.align-items-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.w-100 {
    width: 100% !important;
}

.no-margin {
    margin: 0 !important;
}

.no-padding {
    padding: 0;
}

.d-none {
    display: none !important;
}

.image-wrapper {
    transition: all 0.2s;
}

.info .sub-heading-text,
.info .heading-text {
    font-weight: 400;
}

.divider {
    display: block;
    height: 0;
    width: 20px;
    border-bottom: 1px solid var(--dark-1);
    transition: all 0.2s;
}

.divider.horizontal {
    width: 0;
    height: 20px;
    border-right: 1px solid var(--dark-1);
}

.to-right {
    margin-left: auto;
}

.to-center {
    margin-left: auto !important;
    margin-right: auto !important;
}

.grid-two-columns {
    grid-template-columns: 1fr 1fr;
}

.grid-two-columns.grid-right-prior {
    grid-template-columns: 1fr 2fr;
}

.grid-two-columns.grid-left-prior {
    grid-template-columns: 2fr 1fr;
}

.input-field {
    position: relative;
    height: 50px;
}

.input-field::before {
    position: absolute;
    display: block;
    content: '♯';
    top: 50%;
    left: 0;
    font-size: 18px;
    color: var(--dark-1);
    transform: translateY(-50%);
}

.input-field.filled input,
.input-field.filled textarea {
    border-width: 2px;
}

.input-field.filled::before {
    color: var(--dark-3);
}

.input-field:has(textarea)::before {
    top: -2px;
    transform: translateY(50%);
}

.input-field input, .input-field textarea {
    padding: 6px 12px 6px 18px;
    border-bottom: 1px solid var(--dark-2);
    width: 100%;
    height: 100%;
    font-size: 14px;
    background-color: transparent;
}

.input-field input:focus, .input-field textarea:focus {
    border-color: var(--dark-3);
}

.input-field textarea {
    min-height: 50px;
    max-width: 100%;
    min-width: 100%;
    resize: vertical;
}

button.btn {
    background-color: transparent;
    padding: 6px 12px;
    font-size: 14px;
    border: 1px solid var(--dark-2);
    border-radius: 5px;
    color: var(--dark-2);
    transition: all 0.2s;
}

button.btn:disabled {
    border: 1px solid var(--dark-1);
    color: var(--dark-1);
}

button.btn:not(:disabled):hover {
    background-color: var(--dark-3);
    color: var(--light-2);
}

button.btn:not(:disabled):active {
    transform: scale(0.95);
    box-shadow: 0 0 5px var(--dark-3);
}

.toggle {
    position: relative;
    display: block;
    width: 34px;
    height: 14px;
    cursor: pointer;
    transform: translate3d(0, 0, 0);
}

.toggle:before {
    content: "";
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    background: #9A9999;
    border-radius: 8px;
    transition: background 0.2s ease;
}

.toggle span {
    position: absolute;
    top: -3px;
    left: -3px;
    width: 20px;
    height: 20px;
    display: block;
    background: var(--light-2);
    border-radius: 10px;
    transition: all 0.2s ease;
}

.toggle span:before {
    content: "";
    position: absolute;
    display: block;
    margin: -18px;
    width: 56px;
    height: 56px;
    background: var(--accent-3);
    border-radius: 50%;
    transform: scale(0);
    opacity: 1;
}

.switch:checked + label.toggle:before {
    background: var(--accent-1);
}
.switch:checked + label.toggle span {
    background: var(--accent-2);
    left: 17px;
    transition: all 0.2s cubic-bezier(0.8, 0.4, 0.3, 1.25), background 0.15s ease;
}
.switch:checked + .toggle span:before {
    opacity: 0;
    transition: all 0.4s ease;
}