.container {
    max-width: 1170px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.flex-full-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.align-items-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.w-100 {
    width: 100% !important;
}

.no-margin {
    margin: 0 !important;
}

.no-padding {
    padding: 0;
}

.divider {
    display: block;
    height: 0;
    width: 20px;
    border-bottom: 1px solid var(--text-color-2);
}

.divider.horizontal {
    width: 0;
    height: 20px;
    border-right: 1px solid var(--text-color-2);
}

.to-right {
    margin-left: auto;
}

.to-center {
    margin-left: auto !important;
    margin-right: auto !important;
}

.grid-two-columns {
    grid-template-columns: 1fr 1fr;
}

.grid-two-columns.grid-right-prior {
    grid-template-columns: 1fr 2fr;
}

.grid-two-columns.grid-left-prior {
    grid-template-columns: 2fr 1fr;
}

.input-field {
    position: relative;
    height: 50px;
}

.input-field::before {
    position: absolute;
    display: block;
    content: '♯';
    top: 50%;
    left: 0;
    font-size: 18px;
    color: var(--text-color-3);
    transform: translateY(-50%);
}

.input-field.filled input,
.input-field.filled textarea {
    border-width: 2px;
}

.input-field.filled::before {
    color: var(--text-color-2);
}

.input-field:has(textarea)::before {
    top: -2px;
    transform: translateY(50%);
}

.input-field input, .input-field textarea {
    padding: 6px 12px 6px 18px;
    border-bottom: 1px solid var(--text-color-2);
    width: 100%;
    height: 100%;
    font-size: 14px;
}

.input-field input:focus, .input-field textarea:focus {
    border-color: var(--text-color-3);
}

.input-field textarea {
    min-height: 50px;
    max-width: 100%;
    min-width: 100%;
    resize: vertical;
}

button.btn {
    background-color: transparent;
    padding: 6px 12px;
    font-size: 14px;
    border: 1px solid var(--text-color-2);
    color: var(--text-color-2);
    transition: all 0.2s;
}

button.btn:disabled {
    border: 1px solid var(--text-color-1);
    color: var(--text-color-1);
}

button.btn:not(:disabled):hover {
    background-color: var(--text-color-2);
    color: white;
}

button.btn:not(:disabled):active {
    transform: scale(0.95);
    box-shadow: 0 0 5px var(--text-color-2);
}