:root {
    --accent-1: #ff2e2e;
    --accent-2: #cc0000;
    --accent-3: #af0000;
    --light-1: #ffffff;
    --light-2: #f1f1f1;
    --dark-1: #AAAAAAFF;
    --dark-2: #444444FF;
    --dark-3: #282828;
    --dark-4: #171717;
    --text-1: #1A2027FF;
}