.hobbies-wrapper {
    display: grid;
    grid-template-areas:
        "main secondary1"
        "main secondary2"
        "main secondary3"
;
    grid-template-columns: 5fr 2fr;
    grid-template-rows: repeat(3, 150px);
    gap: 20px;
    margin-top: -20px;
}

.hobbies-wrapper > div {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    cursor: pointer;
    animation-duration: 400ms;
    animation-iteration-count: 1;
}

.hobbies-wrapper > div > img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    filter: contrast(120%) grayscale(100%);
    object-fit: cover;
}

.hobbies-wrapper > div.hobby-main .hobby-info {
    width: 33%;
    bottom: 0;
    left: 0;
    height: 60px;
    border-radius: 0 10px 0 0;
    transform: translateY(0);
}

.hobbies-wrapper > div.hobby-main img {
    filter: contrast(120%);
}

.hobbies-wrapper .hobby-info {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: all 0.2s;
    overflow: hidden;
}


.hobbies-wrapper > div:hover .hobby-info {
    transform: translateY(0);
}

.hobbies-wrapper .hobby-info::before {
    position: absolute;
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    background-color: var(--dark-3);
    opacity: 0.7;
    z-index: 2;
}

.hobbies-wrapper .hobby-info .heading-text {
    position: absolute;
    display: flex;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--light-2);
    font-weight: 300;
    font-size: 21px;
    z-index: 3;
}

.hobbies-wrapper > div:nth-child(1) {
    grid-area: main;
    z-index: 1;
}

.hobbies-wrapper > div:nth-child(2) {
    grid-area: secondary1;
}

.hobbies-wrapper > div:nth-child(3) {
    grid-area: secondary2;
}

.hobbies-wrapper > div:nth-child(4) {
    grid-area: secondary3;
}