.my-picture {
    max-height: 300px;
    overflow: hidden;
    border-radius: 10px;
}

.my-picture img {
    width: 100%;
    height: 100%;
    filter: contrast(120%);
    object-position: center;
    object-fit: cover;
}