header {
    max-height: 100vh;
    height: 100%;

    display: flex;
    align-items: flex-end;
    justify-content: flex-end;

    background-image: url("../../assets/images/header-image.jpg");
    background-size: cover;
}

header .header-text {
    color: var(--header-text-color) !important;
}

.header__info {
    display: grid;
    gap: 20px;
    padding: 40px;

    /*border: 2px solid var(--header-text-color);*/
    /*border-radius: 3px;*/
    /*background-color: rgba(255, 255, 255, 0.2);*/
    text-align: center;

    transition: 0.2s all;
}

.logo__text {
    font-size: 32px;
}

.header__info_fullname {
    font-size: 42px;
    font-weight: 400;
}

.header__info_qualification {
    font-size: 24px;
    font-weight: 300;
}

.logo__text {
    padding: 14px 12px;

    border-bottom: 2px solid var(--header-text-color);

    font-weight: bold;
}